$main-color-bg: #e8ebf6;
$main-color-pic: #3399cc;
$main-color-0: #000;


body {
  font-family: "Arial", sans-serif;
}
.container {
  padding-right: 0;
  padding-left: 0;
  width: 1000px;
  margin: 0 auto;
}
h2 {
  color: $main-color-0;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  padding-top: 20px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
/*------header------------*/
header {
  background: $main-color-bg;
  padding-bottom: 20px;
}
.header-nav {
  padding-top: 48px;
}
.header-logo-link {
  color: $main-color-0;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 120px;
  text-decoration: none;
  display: block;
  &:hover {
    color: $main-color-0;
    text-decoration: none;
  }
}
.header-logo-sub {
  color: $main-color-pic;
  font-weight: 400;
}
.header-nav-list {
  float: right;
}
.header-nav-item {
  position: relative;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  border-top: 5px solid transparent;
  &:hover {
    background: #fff;
    color: #29abc7;
    border-color: #29abc7;
    text-decoration: none;
    .header-nav-sub {
      display: block;
      position: absolute;
      z-index: 1;
    }
  }
}
.header-nav-sub {
  display: none;
  box-sizing: border-box;
  border: 1px solid #e7ebf1;
  border-top: none;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: 0 5px 0 #29abc7;
  -webkit-box-shadow: 0 5px 0 #29abc7;
  box-shadow: 0 5px 0 #29abc7;
  padding: 6px;
}
.header-nav-sub-item {
  position: relative;
  padding-right: 20px;
  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:last-child:after {
    display: none;
  }
}
.header-nav-sub-link {
  padding-left: 8px;
  color: $main-color-0;
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
  background-color: #fff;
  display: block;
  white-space: nowrap; /*чтобы не задавать ширину выпадающего меню */
  &:hover {
    color: #29abc7;
    text-decoration: none;
  }
}
.header-nav-link {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: $main-color-0;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0 10px;
  i.fa {
    color: $main-color-0;
    padding-left: 9px;
    font-size: 7px;
    position: relative;
    top: -2px;
  }
  &:hover {
    text-decoration: none;
    color: #29abc7;
  }
}
/*--------End-header---------*/
/*------slider-----------*/
.slider {
  background: #81e4ed;
}
.slider img {
  position: relative;
  margin: 20px auto 40px;
}
.slick-dots {
  bottom: 13px;
}
.slick-dots li {
  width: 14px;
  height: 14px;
  margin: 0 7px;
}
.slick-dots li button {
  width: 14px;
  height: 14px;
  opacity: .5;
  border-radius: 7px;
  background-clip: padding-box;
  background-color: #616161;
}
.slick-dots li button:before {
  content: ''; /*удалить точку в кружке*/
}
.slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1.75;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}
.slick-prev:before, .slick-next:before
{
  content: '';
}
.slider-img {
  position: relative;
}
.slider-item {
  position: absolute;
  top: 22%;
  left: 15.45%;
  width: 296px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
  z-index: 1;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/*------End-slider-----------*/
/*---mid-----------*/
.mid {
  padding-top: 60px;
  padding-bottom: 50px;
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,.15);
  background-color: #e7ebf1;
  box-shadow: 0 -2px 5px rgba(0,0,0,.06);
}
.mid-1-header, .mid-2-header, .mid-3-header, .mid-4-header {
  background-repeat: no-repeat;
  padding: 13px 0 12px 55px;
}
.mid-1-header {
  background-image: url("../images/mid-1.png");
}
.mid-2-header {
  background-image: url("../images/mid-2.png");
}
.mid-3-header {
  background-image: url("../images/mid-3.png");
}
.mid-4-header {
  background-image: url("../images/mid-4.png");
}
.mid p {
  color: #353535;
  font-size: 13px;
  line-height: 20px;
  padding: 12px 0 22px 0;
}
.mid .mid-link {
  text-decoration: none;
  color: #51b5ce;
  font-family: "Arial", sans-serif;
  font-size: 13px;
}
.fa-chevron-right:before {
  color: $main-color-0;
  font-size: 8px;
  position: relative;
  top: -2px;
  margin-right: 8px;
}
/*-------End-mid---------*/
/*-------works--------------*/
.works-header {
  margin: 19px auto 13px;
}
.works-header h2 {
  float: left;
}
.works-header-controls {
  float: right;
}
.fa-mouse-pointer:before {
  font-size: 24px;
  color: #29abc7;
}
h2 i.fa {
  margin-right: 21px;
}
.works-header-controls button {
  margin: 0 6px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: none;
  outline: none;
  background-color: $main-color-0;
  position: relative;
}
.fa-chevron-circle-left:before, .fa-chevron-circle-right:before {
  font-size: 25px;
  position: absolute;
  color: #81e3ed;
  left: 0;
  top: -2px;
}
.works-line-top {
  height: 1px;
  background-color: #dee0e5;
  margin: 13px auto 19px;
}
/*--------row-slider-img-второй-слайдер---*/
.works-slider {
  margin-bottom: 38px;
  img {
    width: 100%;
    padding-right: 38px;
  }
  .slick-slide {
    outline: none; // убрать голубую рамку изображений
  }
}
.works-line-bottom {
  height: 1px;
  background-color: #dee0e5;
  margin: 0 auto 18px;
 }
/*--------End-works-------*/
/*----info----------*/
.fa-commenting-o:before, .fa-user-plus:before {
  font-size: 23px;
  color: #29abc7;
}
.info-header {
  padding-bottom: 16px;
}
.info-message {
  color: #353535;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 32px;
  padding-right: 38px;
}
.info-sign {
  color: #353535;
  font-size: 14px;
  font-style: oblique;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 46px;
}
.info-sign a {
  color: #353535;
}
.info-clients {
  padding-bottom: 24px;
}
.info-clients-iso {
  width: 158px;
  height: 99px;
  border: 1px solid #e7ebf1;
  background-color: #fff;
  box-shadow: inset 0 0 25px #e7ebf1;
  float: left;
  text-align: center;//для горизонтального выравнивания
  //(центрирования)
}
.info-clients-img {
  display:-moz-inline-box;
  display:inline-block;
  vertical-align:middle;
  zoom:1;
}
//для вертикального выравнивания
.helper {
  display:-moz-inline-box;
  display:inline-block;
  vertical-align:middle;
  height:100%;
  width:0;
  zoom:1;
}
/*------End-info--------*/
/*----------download----*/
.download {
  border: 1px solid #81e3ed;
  background-color: #e8fcfe;
}
.download-text {
  padding: 30px 28px 34px;
  p {
    color: #353535;
    font-size: 16px;
    line-height: 26px;
  }
}
.download-bottom {
  text-align: center;
}
.download-bottom-bnt {
  position: relative;
  top: calc(50% - 29px);
  text-transform: uppercase;
  color: #0c0707;
  font-size: 18px;
  font-weight: bold;
  width: 238px;
  height: 58px;
  border: 1px solid #29abc7;
  border-radius: 8px;
  background-clip: padding-box;
  box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 1px 1px rgba(255,255,255,.1);
  background-image: linear-gradient(bottom, #29abc7 0%, #29abc7 0.15%, #5fcddd 14.92%, #71d9e5 50%, #81e3ed 100%);
  padding: 1px 0;
  outline: none;
  i {
    color: #fff;
    font-size: 24px;
    margin-right: 21px;
  }
}
/*-------End-download--------*/
/*------contacts---------*/
.contacts {
  border-top: 1px solid rgba(0,0,0,.15);
  background-color: #e7ebf1;
  padding-top: 30px;
  color: #333;
  font-size: 14px;
}
.contacts-about {
  padding-right: 5px;
}
.contacts-about-p {
  padding-top: 18px;
  line-height: 17px;
}
.contacts-menu {
  padding-left: 59px;
  padding-right: 30px;
}
.contacts-menu-link {
 padding-top: 11px;
  color: #333;
  line-height: 25px;
}
.contacts-browse {
  padding-left: 38px;
}
.contacts-brows-list {
  padding-top: 7px;
}
.contacts-us {
  padding-left: 16px;
}
.contacts-us-ul {
  padding-top: 3px;
  li {
    padding-bottom: 4px;
  }
}
.contacts-us-3 {
  padding-top: 16px;
}
.contacts-us-3 a, .contacts-us-4 a {
  color: #333;
}
.contacts-connect {
  padding-left: 45px;
  padding-right: 0;
}
.contacts-connect-list {
  padding-top: 20px;
}
.contacts-connect-img {
  padding-right: 15px;
  padding-bottom: 5px;
}
/*--------End-contacts--------*/
/*----------footer-------*/
footer {
  border-bottom: 1px solid rgba(0,0,0,.15);
  background-color: #e7ebf1;
}
.copy {
  padding-top: 37px;
  padding-bottom: 48px;
  color: #353535;
  line-height: 18px;
  font-size: 13px;
}
footer .header-logo-link {
  text-align: right;
}